<!DOCTYPE html>
<html>
    <head>
        <title>Corellon</title>
        <link rel="stylesheet" href="{{ main_css }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <script src="{{ main_script }}"></script>
    </head>
    <body>
        <div id="root">
        </div>
        <div id="header">
            <h1>Corellon</h1>
            <p>"A gift of change for all of your D&D needs"</p>
        </div>
        
    </body>
</html>